.container{
  background-color: rgb(168, 168, 109);
  width: 80%;
  margin: auto;
  max-width: 1140px;

}
header div{
    background-image: url(public/images/header.png);
    background-size: cover;
    


}
