body{
  margin: 0;
}
.container {
  /* background-color: #a8a86d; */
  width: 80%;
  margin: auto;
  max-width: 1140px;
  
}
ul{
list-style-type: none;
}
a {
  text-decoration: none;
}
.parent{
  /* height: 650px; */
  padding-bottom: 12%;
  background: #FFF2F2;
  position: relative;
  overflow: hidden;
}
.parent::after{
  position: absolute;
  content:'';
  bottom:0;
  left:0;
  width: 100%;
  padding-bottom: 8%;
  background-image:url(../images/header3.png) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 1;
}
header h1{
  color: #E3767E;
  font-size: 52px;
  text-align: center;
  line-height: 180px;
  margin-top: 200px;
}

.child{
  position: absolute;
  /* width:300px;
  height: 200px; */
  /* background: lightblue; */
}
.child1{
  width: 40%;
  height: 50%;
  left:-120px;
  top:-40px;
  transform:rotate(125deg);
}

.child2{
  width: 25%;
  height: 60%;
  left:38%;
  top:-120px;
  transform:rotate(-180deg);
}

.child3{
  width: 35%;
  height: 80%;
  right:-150px;
  top:-200px;
  transform:rotate(-125deg);
}
.child4{
  width: 28%;
  height: 50%;
  left: -30px;;
  bottom:60px;
}
.child5 {
  width: 35%;
  height: 53%;
  right:-50px;
  bottom:0px;
}
nav img{
  width: 22%;
  display: block;
  margin: 0 auto;
}
header  ul {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

header li {
  margin:0 40px ;
  text-align: center;
}

header a {
  line-height: 50px;
  text-decoration: none;
  color: #551E1E;
  font-size: 22px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}

header   li  a:hover {
  color: #E3767E;
}
.title{
  text-align: center;
  margin-top: 100px;
  color: #EF6735;

}
.list{
  display: flex;
  width: 100%;
}
.linear{
  background-image: url(../images/linear.png);
  width: 33.3333%;
  height: 300px;
  background-size: contain;
  /* padding-bottom: 20%; */
  background-repeat: no-repeat;
  margin-right: 40px;

}
.linear h3{
  position: relative;
  text-align: center;
  font-size: 45px;
  color: rgb(255, 255, 255);
  margin: 0;
  left: 0%;
  top: 50%;
}
.linear p{
  font-size: 23px;
  color: #373737;
  text-align: center;
  font-weight: bold;
}
.wedo>h1{
  font-size: 36px;
  color: #E3767E;
  text-align: center;
  margin-top: 50px;
  
}
.wedo>p{
  text-align: center;
  font-size: 20px;
}
.we-can-do1{
  background-image: url(../images/we-can-do1.svg);
  width: 100%;
  height: 250px;
  /* height: 300px; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.we-can-do2{
  background-image: url(../images/we-can-do2.svg);
  width: 100%;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.we-can-do3{
  background-image: url(../images/we-can-do3.svg);
  width: 100%;
  height: 250px;
  background-size: contain;
  background-position: center;

  background-repeat: no-repeat;

}
.choose{
  width: 100%;
  margin: auto;
  text-align: center;
  
}
.footer{
  /* height: 650px; */
  padding-top: 27%;
  background: #F7E5B4;
  position: relative;
  overflow: hidden;
}
.footer::after{
  position: absolute;
  content:'';
  top:-5px;
  left:0;
  width: 100%;
  padding-top: 12.4%;
  background-image:url(../images/footer.svg) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 0;
}

@media (max-width: 1200px) {
  .parent{
    padding-bottom: 10%;
  }
  header h1{
    font-size: 44px;
    line-height: 200px;
  margin-top: 180px;
  }
  .child1{
    width: 50%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 30%;
    height: 55%;
    left:35%;
    top:-70px;
  }
  .child3{
    width: 40%;
    height: 90%;
    right:-150px;
    top:-200px;
  }
  .child4{
    width: 30%;
    left: -40px;;
    bottom:20px;
  }
  .child5 {
    width: 40%;
    height: 55%;
    right:-50px;
    bottom:-20px;
  }
  .linear{
    height: 230px;
  }
  
}
@media (max-width: 768px) {
  .parent{
    padding-bottom: 7%;
  }
  header h1{
    font-size: 36px;
    line-height: 250px;
  margin-top: 120px;
  }
  .child1{
    width: 60%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 40%;
    height: 55%;
    left:30%;
    top:-70px;
  }
  .child3{
    width: 50%;
    right:-150px;
    top:-160px;
  }
  .child4{
    width: 38%;
    left: -60px;;
    bottom:0px;
  }
  .child5 {
    width: 48%;
    height: 55%;
    right:-50px;
    bottom:-70px;
  }
  .linear{
    height: 150px;
    max-width: 60%;
  }
  
  
  
}
@media (max-width: 480px) {
  .parent{
    padding-bottom: 3%;
  }
  header h1{
    font-size: 28px;
    line-height: 210px;
  margin-top: 80px;
  }
  .child3{
    width: 50%;
    right:-100px;
    top:-120px;
  }
    .child5 {
    width: 45%;
    bottom:-50px;
  }
  .linear{
    height: 150px;
    max-width: 60%;
  }
  
  
  

}



