body{
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  /* background-color: #a8a86d; */
  width: 80%;
  margin: auto;
  max-width: 1140px;
  
}

ul{
list-style-type: none;
}
a {
  text-decoration: none;
}
/* **************封面圖************** */
.parent{
  /* height: 650px; */
  padding-bottom: 12%;
  background: #FFF2F2;
  position: relative;
  overflow: hidden;
}
.parent::after{
  position: absolute;
  content:'';
  bottom:0;
  left:0;
  width: 100%;
  padding-bottom: 8%;
  background-image:url(../images/header3.png) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 1;
}
header h1{
  color: #E3767E;
  font-size: 52px;
  text-align: center;
  line-height: 180px;
  margin-top: 200px;
}

.child{
  position: absolute;
  /* width:300px;
  height: 200px; */
  /* background: lightblue; */
}
.child1{
  width: 40%;
  height: 50%;
  left:-120px;
  top:-40px;
  transform:rotate(125deg);
}

.child2{
  width: 25%;
  height: 60%;
  left:38%;
  top:-120px;
  transform:rotate(-180deg);
}

.child3{
  width: 35%;
  height: 80%;
  right:-150px;
  top:-200px;
  transform:rotate(-125deg);
}
.child4{
  width: 28%;
  height: 50%;
  left: -30px;;
  bottom:60px;
}
.child5 {
  width: 35%;
  height: 53%;
  right:-50px;
  bottom:0px;
}
/* **************nav************** */

.nav1 img{
  width: 17vw;
  display: block;
  margin: 0 auto;
}

nav.active img{
  position: fixed;
  top: 0px;
  left: 5%;
  width: 150px;
  height: 80px;
}

header  ul {
  justify-content: center;
}

header li {
  margin:0 40px ;
  text-align: center;
}

header a {
  line-height: 80px;
  text-decoration: none;
  color: #551E1E;
  font-size: 22px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}

header   li  a:hover {
  color: #E3767E;
}
.nav-icon{
  display: none;
}
.header{
  display: none;
}
/* **************目前現況************** */
.title{
  text-align: center;
  margin-top: 80px;
  padding-bottom: 30px;
  color: #EF6735;
  margin-bottom: 10px;
  
}

.list{
  display: flex;
  width: 100%;
}
.linear{
  background-image: url(../images/linear.png);
  width: 33.3333%;
  height: 280px;
  background-size: contain;
  padding-bottom: 2%;
  background-repeat: no-repeat;
  margin: 0 20px;

}
.linear h3{
  position: relative;
  text-align: center;
  font-size: 45px;
  color: rgb(255, 255, 255);
  left: 0%;
  top: 50%;
}

.linear p{
  font-size: 23px;
  color: #373737;
  text-align: center;
  font-weight: bold;
}
/* **************我們可以做的事************** */

.list2{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.wedo>h1{
  font-size: 36px;
  color: #E3767E;
  text-align: center;
  margin-top: 20%;
  
}
.wedo>p{
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
}
.we-can-do1{
  background-image: url(../images/we-can-do1.svg);
  width: 300px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 20px auto ;
  
}
.we-can-do2{
  background-image: url(../images/we-can-do2.svg);
  width: 300px;
  height: 250px;
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin:20px auto;
}
.we-can-do3{
  background-image: url(../images/we-can-do3.svg);
  width: 300px;
  height: 250px;
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin:20px auto;
}
/* **************為什麼選擇************** */

.mg-top{
  margin-top: 20px;
  margin-bottom: 30px;
}
.choose{
  width: 200px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  
  
}
/* **************封底************** */

.footer{
  /* height: 650px; */
  padding-top: 8%;
  background: #F7E5B4;
  position: relative;
  overflow: hidden;
}
.footer::after{
  position: absolute;
  content:'';
  top:-5px;
  left:0;
  width: 100%;
  padding-top: 12.3%;
  background-image:url(../images/footer.svg) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 0;
}
footer img{
  width: 150px;
  margin-left: 60px;
}

.icon-menu{
  width: 250px;
  margin-right: 50px;
  margin-top: 20px;
}


.container-display-flex-nowrap>ul{
  display: flex;
  width: 100%;
  text-align: center;
  
  
}
.footer-block li {
  margin:0 20px ;
}

.footer-block a {
  line-height: 50px;
  text-decoration: none;
  color: #551E1E;
  font-size: 18px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}
.footer-block   li  a:hover {
  color: #E3767E;
}
.footer-block h2{
  margin: 0;
  margin-top: 5px;
  color: #551E1E;
}



/*1200pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (max-width: 1200px) {
  /* **************封面圖************** */
  .parent{
    padding-bottom: 10%;
  }
  header a {
    font-size: 18px;
  }
  header h1{
    line-height: 220px;
    margin-top: 150px;
    font-size: 48px;
  }
  .icon-menu {
    display: none;
}

  .child1{
    width: 50%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 30%;
    height: 55%;
    left:35%;
    top:-70px;
  }
  .child3{
    width: 40%;
    height: 90%;
    right:-150px;
    top:-200px;
  }
  .child4{
    width: 30%;
    left: -40px;;
    bottom:20px;
  }
  .child5 {
    width: 40%;
    height: 55%;
    right:-50px;
    bottom:-20px;
  }
  .header{
    display: none;
  }
  .linear {
    height: 240px;
  }
}
@media (max-width: 1060px) {
.nav2 {
  margin-left: 150px;
}
.linear {
  height: 19vw;
}
.linear h3{
  font-size: 3vw;
  top: 10vw;
}
.linear p{
  font-size: 2vw;
  }
.footer li{
  margin: 0 10px;
}
.footer a{
  font-size: 14px;
}
.col-md-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 20px);
  margin: 30px 10px 0px 10px;
}
}
/*768pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (min-width: 768px) {
  header ul{
  display: flex ;
}
.display-md-none {
  display: none;
}
nav.active {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 10;
  justify-content: space-around;
  height: 80px;
  display: block;
  background-color: #FFF2F2;
}
.container-display-flex-nowrap{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-items:center;
}
.linear p{
  margin-top: 20px;

}
}
/*768pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (max-width: 768px) {
  .parent{
    padding-bottom: 7%;
  }
  .nav1 ul{
    margin-top: 20px;
  }
  header a {
    font-size: 18px;
    line-height: 40px;
  }
  .title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }

  .flex-space-between {
    position: relative;
  }
  header h1{
    font-size: 36px;
    line-height: 270px;
  margin-top: 90px;
  }
  .header{
    position: relative;
    }
  .child1{
    width: 60%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 40%;
    height: 55%;
    left:30%;
    top:-70px;
  }
  .child3{
    width: 50%;
    right:-150px;
    top:-160px;
  }
  .child4{
    width: 38%;
    left: -60px;;
    bottom:0px;
  }
  .child5 {
    width: 48%;
    height: 55%;
    right:-50px;
    bottom:-70px;
  }
  .linear{
    height: 150px;
  }
  .linear h3{
    font-size: 4vw;
    top: 7.5vw;
  }
  .linear p{
    font-size: 1.5vw;
    margin-top: 15.5vw;
    }
    .nav1 img{
      width: 25vw;
}    
.nav2{
  display: none;
  width: 60%;
  position: absolute;
  right: 0;
  top: 80px;
}
.header.active {
  top: 0px;
  right: 0px;
  justify-content: space-around;
}
.header{
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #FFF2F2;
  z-index: 10;
  display: block;
  top: 0;
}
/* ****************nav2********************* */
nav.active {
  justify-content: space-around;
  display: block;
}
.nav2> ul {
display: block;
margin-left: 0px;
background-color: #fcedd0;
}
.nav2 > ul > li {
text-align: center;
border-bottom: 1px solid #bdb3a7;
padding: 10px 0;

}
.nav2 > ul > li:last-child{
  border-bottom: none;
}
header > .container .nav2 > ul > li > a {
display: block;
line-height: 40px;
width: 100%;
}
.nav-icon {
height: 80px;
width: 15%;
display: block;
text-align: center;
background-image: url(../images/text_align_justify.svg);
background-size: 50%;
background-position: center;
background-repeat: no-repeat;
}
.nav2{
  display: none;
  width: 60%;
  position: absolute;
  right: 0;
  top: 80px;
}
.header.active {
  top: 0px;
  right: 0px;
  justify-content: space-around;
}
.header{
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #FFF2F2;
  z-index: 10;
  display: block;
  top: 0;
}
/* ******************頁尾************ */
footer img{
  width: 100px;
  margin:30px auto ;
  display: block;
}
.icon-menu img{
  width: 150px;
}
.icon-menu{
  margin-top: 20px;
  margin: 5px auto;
  
}
.container-display-flex-nowrap ul{
  display: none ;
}
  .header{
  display: none;
}
}

/*480pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (max-width: 480px) {
  .parent{
    padding-bottom: 3%;
  }
  
  header h1{
    font-size: 28px;
    line-height: 180px;
  margin-top: 50px;
  }
  .child3{
    width: 50%;
    right:-100px;
    top:-120px;
  }
    .child5 {
    width: 45%;
    bottom:-50px;
  }
  
  .linear h3{
    font-size: 4vw;
    top: 5vw;
  }
  .linear p{
    font-size: 2vw;
    margin-top: 12vw;
    }
  
  
  

}


/* **************************************about-us*************************************** */
/* **************************************about-us*************************************** */
/* **************************************about-us*************************************** */

/* ****************nav********************* */
.displayopen.active {
  top: 0px;
  right: 0px;
  justify-content: space-around;
}
.displayopen{
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #FFF2F2;
  z-index: 10;
  display: block;
  top: 0;
}
/* ****************橫幅********************* */
.pparent{
  width: 100%;
  /* height: 540px; */
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 80px;
}
.ccild{
  /* width: 3000px; */
  font-size: 0;
}
.pparent img{
  width: 800px;
}
.left-arrow, .right-arrow{
  position: absolute;
  cursor: pointer;
  /* background-color: lightblue; */
  width: 40px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 70px;
  margin-top: 20px;
  color: #EF6735;


}
.left-arrow{
  left: 0;
  margin-left: 20px;
}
.right-arrow{
  right: 0;
  margin-right: 20px;

}
.indicator{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.indicator>li{
  width: 10px;
  height: 10px;
  background-color: lightgrey;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.indicator>li:last-child{
  margin-right: 0;
}
.indicator>li.active{
  background-color: orangered;
}
.loading-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-color: rgb(237, 212, 165);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s all;
  /* left: -50vw; */
}
.loading-overlay.active{
  top: -100vh;
  transition: .3s all;
  transition-delay: 1s;
}

/* ****************認識貓月貓日********************* */
section>h3{
  text-align: center;
  color: #676767;
}
section>p{
  margin-top: 24px;
  text-align: center;
}
section>.list2>img{
  width: 50%;
  height: 100%;
}
.padding-aboutus{
  padding: 100px 0;
  width: 100%;
  align-items: center;
}
section>.list2 h4{
  text-align: center;
}
div .center2{
  width: 40%;
  margin-left: 10%;
  margin: 0 auto;
}
.bg-aboutus{
  background-color: #FFF2F2;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  color:#EF6735;

}
.center2 p{
  margin-top: 30px;
  padding: 0 40px;
}
@media (max-width: 1200px) {
  /* ****************橫幅********************* */
  .bg-img{
    height:43vw ;
    margin-top: 65px;
  }
  .aboutus-blob{
    width: 350px;
    height: 280px;
    align-items: center;
    top: 15%;
    left: 10%;
  }
  .aboutus-blob>p{
    margin: 4% 15%;
    font-size: 1.1vw;

  }
}
@media (max-width: 768px) {
  /* ****************橫幅********************* */
  .bg-img{
    height:60vw ;
    margin-top: 75px;
  }
  .aboutus-blob{
    width: 35vw;
    height: 30vw;
    top: 25%;
    left: 10%;
  }
  .aboutus-blob>p{
    margin: 1% 10%;
      font-size: 2vw;
      transform : scale(0.83,0.83);
      *font-size: 10px;
  }
  .left-arrow, .right-arrow{
    font-size: 40px;
    margin-top: 5px;
  
  
  }
  /* ****************認識貓月貓日********************* */
  .none768{
    display: none;
  }
  .padding-aboutus{
    flex-direction: column;
    align-items: center;
  }
  div .center2{
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
  }

  }
  @media (max-width: 480px) {
    .aboutus-blob>p{
        font-size: 12px;
        transform : scale(0.83,0.83);
        *font-size: 10px;

    }
    .left-arrow, .right-arrow{
      font-size: 20px;
      
    }
    .left-arrow{
      margin-left: 5px;
    }
    .right-arrow{
      margin-right: 5px;
    
    }
  }
  /* **************************************認養*************************************** */
/* **************************************認養*************************************** */
/* **************************************認養*************************************** */
.parent2{
  /* height: 650px; */
  padding-bottom: 12%;
  height: 520px;
  background: #FFF2F2;
  position: relative;
  overflow: hidden;
}
.parent2::after{
  position: absolute;
  content:'';
  bottom:0;
  left:0;
  width: 100%;
  padding-bottom: 8%;
  background-image:url(../images/header3.png) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 1;
}
.mg-title{
  margin-top: -5px;
  margin-bottom: 0;
}
.plan-bg{
  background-image: url(../images/adopt-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border-radius: 8px;

}
.plan-bg>p{
  padding: 0 9vw;
  padding-top: 3vw;
  font-size: 1.2vw;
}
.plan-bg h4{
  padding-left: 9vw;
  padding-right: 9vw;
  font-size: 1.3vw;

}
.plan-bg .adopt-p-top{
  padding-top: 5vw;
}
.adopt-pd{
  padding-top: 4vw;

}
.plan-bg .h4-color{
  color: #E3767E;
  padding-top: 1.5vw ;
}
.adopt-img{
  width: 40%;
  margin: 0 5%;
}
.adopt-p{
  width: 40%;
  margin:0 5%;
  margin-top: 50px;
}
.adopt-p h3{
  margin-bottom: 20px;
  color: #E3767E;
}
.adopt-p a{
  margin-top: 50px;
  display: block;
  padding: 10px;
  background-color: #EF6735;
  color: #FFFFFF;
  width: 150px;
  border-radius: 8px;
  text-align: center;
}
.adopt-bottom{
  padding-bottom: 5vw;
}
.even{
  margin-top: 80px;
}
.order-md-1{
  order:-1;
}
/*************輪播****************************/
.container3 { 
  padding: 50px; 
  z-index: 80;
  background-color: #FFF2F2;
  margin-top: 50px;
  height: 50vh;
  margin-bottom: 50px;
}
.container3 a{
  background-color: #EF6735;
  color: #F0F0F0;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
  border-radius: 8px;
  margin: 30px auto;
}

.cl {
  height:200px;
  padding:10px;
}

.cl-yellow { 
  background-image: url(../images/catnana.png); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cl-blue { 
  background-image: url(../images/cattwo.png); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cl-red { 
  background-image: url(../images/catthree.png); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-active { 
  padding: 20px 0; 
}

.slick-center { 
  transform: scale(1.08) 
}
.slick-next{
  color: #EF6735;
}

.slick-slide:not(.slick-active) { 
  margin: 20px 0; 
}



.slide:not(.slick-active) { 
  cursor: pointer; 
}

@media (max-width: 768px) {
  .adopt-img{
    width: 100%;
    margin: 0;
  }
  .adopt-p{
    width: 100%;
  }
  .order-md-1{
    order:0;
  }
  .adopt-p{
    text-align: center;
  }
  .adopt-p a{
    margin: 20px auto;
  }
}

  /* **************************************會員專區*************************************** */
/* **************************************會員專區*************************************** */
/* **************************************會員專區*************************************** */
/* ***********************頁首************************** */
.parent3{
  /* height: 650px; */
  padding-bottom: 54%;
  background: #FFF2F2;
  position: relative;
  overflow: hidden;
  z-index: -100;

}
.parent3::after{
  position: absolute;
  content:'';
  bottom:0;
  left:0;
  width: 100%;
  padding-bottom: 48%;
  background-image:url(../images/nav.svg) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: -88;
}


.color{
  width: 370px;
  height: 550px;
  margin-top: -40%;
  margin-left: 8%;
  z-index: 10;
}

.tab-link{
  display: flex;
  width: 100%;
}
.tab-link>a{
  text-decoration: none;
  width: 48%;
  margin:1%;
  line-height: 40px;
  color:white;
  text-align: center;
  display: block;
  background-color: lightgray;
  border-radius: 8px 8px 0 0;
}

.tab-link>a.active{
  background-color: #EF6735;
}
.tab-content{
  display: none;
}
.tab-content.active{
  display: block;
}
input {
  border: none;
  border-radius: 4px;
  border: 1px solid gray;
  line-height: 30px;
  
}
label{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
input[type=text] {
  width: 100%;
  height: 40px;
  border: 2px solid #ef67358c;
  padding: 10px;
  box-sizing: border-box;

}
input[type=password] {
  width: 100%;
  height: 40px;
  border: 2px solid #ef67358c;
  padding: 10px;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin-right: 10px;
  cursor: pointer;
}

.input-group{
  margin:0 5%;
  margin-top: 20px;
  
}
input[type=submit] {
  width: 50%;
  height: 40px;
  transform: translateX(40%);
  color: white;
  font-weight: 500;
  border: none;
  background-color: #EF6735;
  margin-top: 50px;
  font-size: 18px;
  cursor: pointer;
  

}
.login-img{
  width: 100%;
  /* right: 0; */
  background-color: #551E1E;
  position: relative;
}
.login-img img{
  display: block;
  position: absolute;
  right: 5%;
  height: 80px;
  margin-top: -80px;
}

/* ***********************footer************************** */
.footer2{
  /* height: 650px; */
  padding-top: 8%;
  background: #F7E5B4;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1060px) {
  
  .footer2 li{
    margin: 0 10px;
  }
  .footer2 a{
    font-size: 14px;
  }
  }
  @media (max-width: 768px) {
    .color{
      margin:0 auto;
      margin-top: -50%;
    }
    .login-img img{
      margin-top: -80px;
      right: 10% ;
    }
    .parent3 {
      padding-bottom: 73%;
    }
    .parent3::after{
    padding-bottom: 45%;
  }
  }


  
    /* **************************************助糧*************************************** */
/* **************************************助糧*************************************** */
/* **************************************助糧*************************************** */
.eat-bg{
  width: 100%;
  height: 550px;
  background-color: #FFF2F2;
}
.eat-mg{
  margin: 0 12%;
}
.eat-bgclr{
  background-color: #FFF2F2;
  width: 100%;
  margin-bottom: 6%;
  border-radius: 8px;
  padding: 25px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eat-bgclr>h3{
  font-size: 1.5vw;
  margin-left: 20px;
}
.eat-bgclr>img{
  width: 8%;
}
.eat-bgclr1{
  background-color: #FFF2F2;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 25px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.eat-bgclr1>h3{
  font-size: 1.5vw;
  margin-left: 20px;
}
.eat-bgclr1 img{
  width: 8%;
}
.linepay{
  width: 60%;
}
.eat-bgclr3{
  background-color: #FFF2F2;
  width: 100%;
  border-radius:0 0 8px 8px ;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:7%;
}
.list3{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.eat-bgclr3 ul {
  width: 100%;

}
.eat-bgclr3 ul li{
  width: 33%;
  border-right:2px solid #D9D9D9;

}
.eat-bgclr3 ul li:last-child{
  border-right: none;
}
.eat-bgclr3 ul h4{
  color: #E3767E;
  margin-bottom: 20px;
}
.eat-bgclr3 p{
  font-size: 1.5vw;
}
.arrow{
  position: absolute;
  right: 45%;
  width: 8vw;
  margin: 0 auto;
  margin-top: -6%;
  z-index: 2;
  width: 7%;
}
.eat-title{
  color: #E3767E;
  margin-top: 30px;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.flex-between h3{
  color: #EF6735;
  font-size: 1.5vw;
}
/* .flex-between p{
  font-size: 1.2vw;
} */
.large{
  overflow:hidden
}
.large img{
  width: 100%;
}
.large img:hover{
  transform: scale(1.1);
  transition:all 0.5s ease 0s;
}
.no-wrap{
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;

}
/* .no-wrap h4{
  font-size: 1.2vw;
} */
.wrap-eat{
  width: 22%;
  margin-right: 5%;
  cursor: pointer;
}
@media (max-width: 768px) {
  
  .eat-bgclr3 ul {
    width: 100%;
  
  }
  .linepay {
    width: 30%;
    margin-bottom: 15px;
}
.eat-bgclr3{
  padding-bottom: 10px;
}
  .eat-bgclr3 ul li{
    width: 100%;
    border-right:none;
    margin-bottom: 20px;
    border-bottom: 2px solid #D9D9D9;
  
  }
  .eat-bgclr3 ul li:last-child{
    border-bottom: none;
  }
  .eat-bgclr3 ul h4{
    color: #E3767E;
    margin-bottom: 15px;
  }
  .eat-bgclr3 p{
    font-size: 14px;
    margin-bottom: 15px;
  }
  .no-wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .wrap-eat{
    width: 45%;
    margin-bottom: 20px;
  }
  .flex-between h3{
    font-size: 20px;
  }
  .flex-between p{
    font-size: 16px;
  }
  .eat-bgclr>h3 {
    font-size: 16px;
  }
  .eat-bgclr1>h3 {
    font-size: 16px;

}

    /* **************************************贊助*************************************** */
/* **************************************贊助*************************************** */
/* **************************************贊助*************************************** */

.sponsor-top{
  margin-top: 104px;
  display: flex;
}
.sponsor-bg1{
  position: relative;
width: 50%;
background-color: #F0F0F0;
margin-top: 20px;
padding: 0 50px;
box-sizing: border-box;
border-radius: 8px 0 0 8px;
}
.sponsor-bg1>h2{
  margin: 20px 0;
}
.sponsor-bg1 h4{
  margin-top: 30px;
}
.sponsor-bg1 h5{
  margin: 20px 0;
}
#number{
  margin:0 20px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  border: none;
  border-bottom:2px solid #EF6735;
  border-radius: 0;
  color: none;
  width: 25%;
}
.bottom-number{
  background-color: #F0F0F0;
  padding: 0 10px;
}
.pay{
  margin-top: 20px;
  margin-bottom: 80px;
}
.radio-group{
  margin-top: -20px;
}

.radio-input {
  visibility: hidden; /* 把原本的input藏起來 */
}
.radio-label {
  /* font-size: 1.6rem; */
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}
.radio-button {
  /* 自定義樣式的span */
  height: 1rem;
  width: 1rem;
  border: 3px solid #EF6735;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.radio-button::after { /* 中間點點 */
  content: "";
  display: block;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EF6735;
  opacity: 0;
  transition: opacity 0.2s;
}
.radio-input:checked ~ .radio-label .radio-button::after {
  /* 選中radio時 才顯示中間點點 */
  opacity: 1;
}
.sponsor-bg1 a{
  background: #EF6735;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
}
.sponsor-bg2{
  width: 50%;
  background-image: url(../images/sponsor-bg.svg);
  background-size:cover;
  background-color: #FFF2F2;
  margin-top: 20px;
  border-radius:0 8px 8px 0;
  text-align: center;
}
.sponsor-bg2 img{
  display: block;
  margin: 40px auto;
  width: 70%;
}
.sponsor-bg2>h2{
  color: #E3767E;
}
.sponsor-bg2>h3{
  margin: 20px 0;

}


/****************贊助2************************************/
.sponsor2-mg{
margin-left: 20px;
margin-top: 20px;
}
.radio-group-left{
  margin-left: 20px;
}
.sponsor2-mgbottom{
  margin-bottom: 100px;
}

/****************贊助3************************************/
.sponsor-flex{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.sponsor-flex h3{
  color: #EF6735;
}
.sponsor-flex>.sponsor3-nomg{
  margin: 0;
}
.list2>.revise-buttom{
  background: #C4C4C4;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  margin-right: 180px;
}


@media (max-width: 768px) {
  .sponsor-top{
    margin: 0 auto;
    margin-top: 104px;
    justify-content: center;
  }
  .sponsor-bg1{
    width: 100%;
    margin:0 20px 20px 20px;
    padding: 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  .sponsor-bg2{
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin: 20px 20px 0 20px;
    order: -1;

  }
  .radio-buttom-center{
    margin: 0 auto;
  }
  .custom-amount{
    justify-content: center;
  }
  .pay{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  .radio-label{
    padding-left: 1rem;
  }
  .radio-label2{
    margin-left: 30px;
  }
  .sponsor-bg1 a{
    right: 0;
    bottom: 0;
    margin: 20px;
  }
  .sponsor2-mg{
    margin: 0 auto;
    margin-top: 20px;
    }
    .pay2{
      display: flex;
      justify-content: center;
    }
  .sponsor-flex{
    padding:0 30px;
  }
}
/*******************看更多*******************/
/*******************看更多*******************/
/*******************看更多*******************/

.seemore-left{
  margin-top: 80px;
  width: 40%;

}
.seemore-right{
  text-align: center;
  width: 60%;

}
.seemore-right>h2{
  margin-top: 200px;
  color: #E3767E;
}
.mg-1{
  margin-top: 50px;
}
.mg-2{
  margin-top: 10px;
  margin-bottom: 50px;
}
.seemore-right>p{
  padding: 0 80px;
  margin-bottom: 100px;
}
.seemore-right a{
  display: block;
  padding: 10px;
  background-color: #EF6735;
  color: #FFFFFF;
  width: 150px;
  border-radius: 8px;
  margin: 0 auto;
}
.seemore-left2{
  margin-top: 100px;
  width: 60%;

}
.seemore-right2{
  width: 40%;
  margin-top: 100px;
}
.title1{
  margin-left: 20px;
  color: #EF6735;
}
.mg-3{
  width: 50%;
  text-align: center;
  margin-top: 30px;
}
.mg-3 h3{
  margin-bottom: 20px;
}
.mg-3 p{
  padding: 20px 90px;
}
.mg-4{
  padding-left: 30px;
  margin-top: 10px;
}
.seemore-right2 p{
  margin-top: 20px;
  padding-left:40px;
  padding-right:140px ;
}
.container2{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-columns: repeat(4, minmax(400px, 14%));
  grid-auto-rows: 130px;
  gap: 10px;
  margin-top: 40px;
  overflow: scroll;
}
.box1{
  background-image: url(../images/seemore-cat1.svg);
  background-size: cover;
  grid-column:1 / span 1;
  grid-row:1 / span 4;
}
.box2{
  background-image: url(../images/seemore-cat2.svg);
  grid-column:2 / span 1;
  background-size: cover;
  grid-row:1 / span 2;        }
.box3{
  background-image: url(../images/seemore-cat3.svg);
  grid-column:2 / span 1;
  grid-row:3 / span 2;  
  background-size: cover;
}
.box4{
  background-image: url(../images/seemore-cat4.svg);
  grid-column:3 / span 1;
  grid-row:1 / span 4;  
  background-size: cover;
}
.box5{
  background-image: url(../images/seemore-cat5.svg);
  grid-column:4 / span 3;
  grid-row:1 / span 4;  
  background-size: cover;
}

@media (max-width: 768px) {
  .seemore-left {
    display:none ;
    
  }
  .seemore-left-phone{
    background-image: url(../images/adopt-1.svg);
    background-size: contain;
    height: 42vh;
    width: 80vw;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 150px;
  }
  .seemore-right{
    width: 100%;
  }
  .seemore-right>h2{
    margin-top: 8%;
  }
  .seemore-right>p{
    padding: 0 30px;
  }
  .seemore-left2,.seemore-right2{
    width: 100%;
  }
  .mg-3{
    width: 100%;
  }
  .mg-4{
    padding-left: 6%;
    box-sizing: border-box;
  }
  .seemore-right2 p{
    text-align: center;
    padding:0 50px;
  }
  .container2{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-columns: repeat(4, minmax(200px, 14%));
    grid-auto-rows: 70px;
    gap: 10px;
    margin-top: 40px;
    overflow: scroll;
    margin-bottom: 40px;
  }
}
