body{
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  /* background-color: #a8a86d; */
  width: 80%;
  margin: auto;
  max-width: 1140px;
  
}
ul{
list-style-type: none;
}
a {
  text-decoration: none;
}
.parent{
  /* height: 650px; */
  padding-bottom: 12%;
  background: #FFF2F2;
  position: relative;
  overflow: hidden;
}
.parent::after{
  position: absolute;
  content:'';
  bottom:0;
  left:0;
  width: 100%;
  padding-bottom: 8%;
  background-image:url(../images/header3.png) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 1;
}
header h1{
  color: #E3767E;
  font-size: 52px;
  text-align: center;
  line-height: 180px;
  margin-top: 200px;
}

.child{
  position: absolute;
  /* width:300px;
  height: 200px; */
  /* background: lightblue; */
}
.child1{
  width: 40%;
  height: 50%;
  left:-120px;
  top:-40px;
  transform:rotate(125deg);
}

.child2{
  width: 25%;
  height: 60%;
  left:38%;
  top:-120px;
  transform:rotate(-180deg);
}

.child3{
  width: 35%;
  height: 80%;
  right:-150px;
  top:-200px;
  transform:rotate(-125deg);
}
.child4{
  width: 28%;
  height: 50%;
  left: -30px;;
  bottom:60px;
}
.child5 {
  width: 35%;
  height: 53%;
  right:-50px;
  bottom:0px;
}
nav img{
  width: 22%;
  display: block;
  margin: 0 auto;
}
nav.active {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 10;
  justify-content: space-around;
  background: #FFF2F2;
  height: 80px;
}
nav.active img{
  position: fixed;
  top: 0px;
  left: 5%;
  width: 150px;
  height: 80px;
}
nav.active a{
  line-height: 80px;
}
header  ul {
  justify-content: center;
}

header li {
  margin:0 40px ;
  text-align: center;
}

header a {
  line-height: 50px;
  text-decoration: none;
  color: #551E1E;
  font-size: 22px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}

header   li  a:hover {
  color: #E3767E;
}
.nav-icon{
  display: none;
}

.title{
  text-align: center;
  margin-top: 100px;
  color: #EF6735;
  margin-bottom: 20px;

}
.list{
  display: flex;
  width: 100%;
}
.linear{
  background-image: url(../images/linear.png);
  width: 33.3333%;
  height: 280px;
  background-size: contain;
  padding-bottom: 2%;
  background-repeat: no-repeat;
  margin: 0 20px;

}
.linear h3{
  position: relative;
  text-align: center;
  font-size: 45px;
  color: rgb(255, 255, 255);
  left: 0%;
  top: 50%;
}
.linear p{
  font-size: 23px;
  color: #373737;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.list2{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.wedo>h1{
  font-size: 36px;
  color: #E3767E;
  text-align: center;
  margin-top: 20%;
  
}
.wedo>p{
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
}
.we-can-do1{
  background-image: url(../images/we-can-do1.svg);
  width: 300px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 20px auto ;
  
}
.we-can-do2{
  background-image: url(../images/we-can-do2.svg);
  width: 300px;
  height: 250px;
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin:20px auto;
}
.we-can-do3{
  background-image: url(../images/we-can-do3.svg);
  width: 300px;
  height: 250px;
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin:20px auto;
}
.mg-top{
  margin-top: 50px;
}
.choose{
  width: 200px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  
  
}
.footer{
  /* height: 650px; */
  padding-top: 8%;
  background: #F7E5B4;
  position: relative;
  overflow: hidden;
}
.footer::after{
  position: absolute;
  content:'';
  top:-5px;
  left:0;
  width: 100%;
  padding-top: 12.4%;
  background-image:url(../images/footer.svg) ;
  background-size: 100%;
  /* background-color: antiquewhite; */
  z-index: 0;
}
footer img{
  width: 150px;
  margin-left: 60px;
}
.logo{
  margin: 0;
}
.icon-menu{
  width: 250px;
  margin-right: 50px;
  margin-top: 20px;
}

.container-display-flex-nowrap{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-items:center;
}
.container-display-flex-nowrap>ul{
  display: flex;
  width: 100%;
  text-align: center;
  
  
}
.footer-block li {
  margin:0 20px ;
}

.footer-block a {
  line-height: 50px;
  text-decoration: none;
  color: #551E1E;
  font-size: 18px;
  /* letter-spacing: 2px; */
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}
.footer-block   li  a:hover {
  color: #E3767E;
}
.footer-block h2{
  margin: 0;
  margin-top: 5px;
  color: #551E1E;
}



/*1200pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (max-width: 1200px) {
  .parent{
    padding-bottom: 10%;
  }
  header a {
    font-size: 18px;
  }
  .icon-menu {
    display: none;
}

  .child1{
    width: 50%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 30%;
    height: 55%;
    left:35%;
    top:-70px;
  }
  .child3{
    width: 40%;
    height: 90%;
    right:-150px;
    top:-200px;
  }
  .child4{
    width: 30%;
    left: -40px;;
    bottom:20px;
  }
  .child5 {
    width: 40%;
    height: 55%;
    right:-50px;
    bottom:-20px;
  }
  
  
}
@media (max-width: 1060px) {
  .nav2 ul{
    margin-left: 235px;

}
.linear h3{
  font-size: 38px;
  top: 40%;
}
.linear p{
  font-size: 17px;
  }
}
/*768pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (min-width: 768px) {
  header ul{
  display: flex ;
}
.display-md-none {
  display: none;
}

}
@media (max-width: 768px) {
  .parent{
    padding-bottom: 7%;
  }
  header ul{
    margin-top: 20px;
  }
  header a {
    font-size: 18px;
    line-height: 40px;
  }
  .title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    
    /*換行*/
  }

  .flex-space-between {
    position: relative;
  }
  header h1{
    font-size: 36px;
    line-height: 250px;
  margin-top: 120px;
  }
  .header{
    position: relative;

  }
  .nav2{
    display: none;
    width: 60%;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #F7E5B4;
}
.nav2.active{
  display: block;
}

.nav2> ul {
  display: block;
  margin-left: 0px;
  margin-top: 80px;
  background-color: #fcedd0;
}
.nav2 > ul > li {
  text-align: center;
  border-bottom: 1px solid #bdb3a7;
  padding: 10px 0;
  
}
header > .container .nav2 > ul > li > a {
  display: block;
  line-height: 40px;
  width: 100%;
}
.nav-icon {
  background-color: #FFF2F2;
  color: white;
  height: 80px;
  width: 15%;
  display: block;
  text-align: center;
  background-image: url(../images/text_align_justify.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  
}

  .child1{
    width: 60%;
    height: 50%;
    left:-110px;
    top:-30px;
  }
  .child2{
    width: 40%;
    height: 55%;
    left:30%;
    top:-70px;
  }
  .child3{
    width: 50%;
    right:-150px;
    top:-160px;
  }
  .child4{
    width: 38%;
    left: -60px;;
    bottom:0px;
  }
  .child5 {
    width: 48%;
    height: 55%;
    right:-50px;
    bottom:-70px;
  }
  .linear{
    height: 150px;
  }
  .linear h3{
    font-size: 25px;
    top: 46%;
  }
  .linear p{
    font-size: 12px;
    margin-top: 10px;
    }
  
  
  
}
/*480pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (max-width: 480px) {
  .parent{
    padding-bottom: 3%;
  }
  
  header h1{
    font-size: 28px;
    line-height: 210px;
  margin-top: 80px;
  }
  .child3{
    width: 50%;
    right:-100px;
    top:-120px;
  }
    .child5 {
    width: 45%;
    bottom:-50px;
  }
  
  .linear h3{
    font-size: 18px;
    top: 18%;
  }
  .linear p{
    font-size: 15px;
    margin-top: 60px;
    }
  
  
  

}



